[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kasternz
[access "refs/for/refs/*"]
	read = group user/kasternz
	push = group user/kasternz
	label-Code-Review = -2..+2 group user/kasternz
	label-Verified = -1..+1 group user/kasternz
	rebase = group user/kasternz
	removeReviewer = group user/kasternz
	submit = group user/kasternz
[access "refs/heads/*"]
	read = group user/kasternz
	create = group user/kasternz
	push = +force group user/kasternz
	pushMerge = group user/kasternz
[access "refs/tags/*"]
	push = group user/kasternz
	push = +force group user/kasternz
